.home
{
position:absolute;
background-color:#ffffff;
height:758px;
width:1237px;
padding:40px;
}
.frame1
{
height:313.5px;
width:1157px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:flex-start;
position:absolute;
left:40px;
top:40px;
}
.vancouver
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:IBM Plex Mono;
line-height:auto;
border-style:hidden;
outline:none;
width:76px;
align-self:center;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.contact↗
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:IBM Plex Mono;
align-self:flex-start;
left:1081px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:76px;
display:flex;
}
.frame12
{
height:31px;
width:657px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
top:363.5px;
left:290px;
}
.psychicengineering
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:64px;
font-family:Whyte Inktrap;
line-height:auto;
border-style:hidden;
outline:none;
width:657px;
align-self:center;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.frame13
{
height:313.5px;
width:1157px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:flex-end;
position:absolute;
top:404.5px;
left:40px;
}
.research
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:IBM Plex Mono;
align-self:flex-start;
top:295.5px;
left:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:68px;
display:flex;
}
.development
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:IBM Plex Mono;
align-self:flex-start;
left:507px;
top:295.5px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:93px;
display:flex;
}
.implementation
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:IBM Plex Mono;
align-self:flex-start;
left:1039px;
top:295.5px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:118px;
display:flex;
}
