@font-face {
    font-family: 'Whyte Inktrap';
    src: url('/whyte/WhyteInktrap-BlackItalic.woff2') format('woff2'),
        url('/whyte/WhyteInktrap-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Black.woff2') format('woff2'),
        url('WhyteInktrap-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-BoldItalic.woff2') format('woff2'),
        url('WhyteInktrap-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Bold.woff2') format('woff2'),
        url('WhyteInktrap-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-LightItalic.woff2') format('woff2'),
        url('WhyteInktrap-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Light.woff2') format('woff2'),
        url('WhyteInktrap-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-HeavyItalic.woff2') format('woff2'),
        url('WhyteInktrap-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-ExtraLightItalic.woff2') format('woff2'),
        url('WhyteInktrap-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap Book';
    src: url('WhyteInktrap-BookItalic.woff2') format('woff2'),
        url('WhyteInktrap-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Heavy.woff2') format('woff2'),
        url('WhyteInktrap-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap Book';
    src: url('WhyteInktrap-Book.woff2') format('woff2'),
        url('WhyteInktrap-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-ExtraLight.woff2') format('woff2'),
        url('WhyteInktrap-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Regular.woff2') format('woff2'),
        url('WhyteInktrap-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Medium.woff2') format('woff2'),
        url('WhyteInktrap-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-ThinItalic.woff2') format('woff2'),
        url('WhyteInktrap-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Italic.woff2') format('woff2'),
        url('WhyteInktrap-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap Super';
    src: url('WhyteInktrap-SuperItalic.woff2') format('woff2'),
        url('WhyteInktrap-SuperItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap Super';
    src: url('WhyteInktrap-Super.woff2') format('woff2'),
        url('WhyteInktrap-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-MediumItalic.woff2') format('woff2'),
        url('WhyteInktrap-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Inktrap';
    src: url('WhyteInktrap-Thin.woff2') format('woff2'),
        url('WhyteInktrap-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

